header {
    background-color: #fff9f4;
    border-radius: 20px;
}
nav {
    background-color: transparent;
}
.card-style {
    border: 0;
}
.card-footer-style {
    background-color:white;
    border: 0;
}
h1 {
    font-family: 'Oswald', sans-serif;
}
.card-style h1 {
    color: #fa804c;
}